@tailwind base;
@tailwind components;
@tailwind utilities;


.pop_up_employee{
    transform: translate(45%, -48.5%) scale(0);
    transition: .4s ease-in-out;
}


.pop_up_employee.active{
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .8);
}

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body_body {
    margin: auto;
    height: auto;
    width: 1100px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

