@tailwind base;
@tailwind components;
@tailwind utilities;

.show_error{
    display: none;
}

.show_error.active{
    display: block;
}

.push-notifications{
    transform: translateY(-200px);
    transition: .8s ease-in-out;
}

.push-notifications.active{
    transform: translateY(50px);
}

.push-notifications-block{
    position: fixed;
    z-index: 3;
    height: auto;
    left: 50%;
    margin-left:-138px
}

.push-notifications-container{
    width: 276px;
}


/*----------------------------*/

.pop_up_employee{
    transform: translate(45%, -48.5%) scale(0);
    transition: .4s ease-in-out;
}


.pop_up_employee.active{
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .8);
}

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body_body {
    margin: auto;
    height: auto;
    width: 1100px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}


